@font-face {
	font-family: 'FontAwesome';
	src: url('fonts/FontAwesome.otf') format('otf'),
		url('fonts/fontawesome-webfont.eot') format('eot'),
		url('fonts/fontawesome-webfont.ttf') format('ttf'),
		url('fonts/fontawesome-webfont.woff') format('woff'),
		url('fonts/fontawesome-webfont.svg') format('svg');
		
		}

@font-face {
	font-family: 'Roboto-ThinItalic';
	src: url('fonts/Roboto-ThinItalic.ttf') format('ttf');
}
@font-face { 
	font-family: 'glyphicons-halflings-regular';
	src: url('fonts/glyphicons-halflings-regular.eot') format('eot'),
		url('fonts/glyphicons-halflings-regular.svg') format('svg'),
		url('fonts/glyphicons-halflings-regular.ttf') format('ttf'),
		url('fonts/glyphicons-halflings-regular.woff') format('woff');
	}

body, html 
	{
	margin:0;
	padding: 0;
	}

body
{
	font-family: 'FontAwesome';

}

header

{
	
	width: 95%;
	height: 9em;
	display: flex;
	justify-content: space-between;
	align-items: center;

}


header .nav

{
	
	align-items: center;
	margin-right: 5%;
	width: 35%;
}

.nav ul {

	list-style: none;
}

.nav a 
{

	color: black;
	text-decoration: none;

}

.nav .menu
{
	display: flex; 
  	justify-content: space-around;


  
}

header #logo
{
	padding-left: 10%;
}

section
{
	/*border: 2px black solid; */
 color: #ffffff;
display: flex;
flex-direction: column;
margin: 10% 00em 00em 10em;
width: 50%;
}



button
{

	font-size: 17px;
	font-family: sans-serif;
	padding: 10px;
	border:none;
	background-color: #5DBCD2;
	color: #fff;
	border-radius: 2px;
	cursor: pointer;

}

.titre
{		font-family: 'FontAwesome';
	color: #5DBCD2 ;
}

p {
	    font-family:  sans-serif;
}

#services
{
		
		color: black;
		font-family: 'FontAwesome';
		margin-top: 17em;
		
} 

#services h1
{
	
	display: flex;
	justify-content: center;

}

#services p
{

		display: flex;
	justify-content: center;
	margin-left: 5em;
}

.ux 
{

	display: flex;
	justify-content: space-around;
	margin-top: 10em;
}

.coco
{
	color: #5DBCD2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;


}

.coco i 
{

	border: 2px #5DBCD2 solid;
	border-radius: 50%;
	padding: 15px 15px 15px 15px;
	margin: auto;
}

.cercle
{
	background-color: #5DBCD2;
	width: 3px;
	border-radius: 50%;
	padding: 7px 5px 7px 7px;
	display: flex;
	justify-content: space-between;


}

#design i
{
	color: #5DBCD2;

}


.photo
{
display: flex;

margin-left: 5%;
margin-right: 5%;

}

.picture
{
	padding: 1%;
}

.photo2
{
display: flex;

margin-left: 5%;
margin-right: 5%;

}



#contact
{
	font-family: 'FontAwesome';	
	background-color: #E7F1FC;
	width: 22%;
	height: 80%;
	position: absolute;
	right: 4%;
	margin-top: 8%;
	opacity:0.8;
	
}

#sas
{
	margin-left: 10%;

}

#sas p 
{
	position: relative;
	bottom: 10px;
	opacity: 1;
}

#opacity
{

	opacity: 1;
}

form
{

	padding: 00% 5% 00% 9% ;
	position: relative;
	bottom: 15px;
	opacity: 1;

}

input 
{
	padding: 7px;
	margin-top: 5%;
	width: 90%;
	background-color: #ffffff;
	opacity: 1;

}

textarea
{
	margin-top: 5%;
	width: 94%;
	height: 16em;
	background-color: #ffffff;
	opacity: 1;

}

#send
{
	width: 50%;
	font-size: 15px;
	font-family: sans-serif;
	padding: 10px;
	border:none;
	background-color: #5DBCD2;
	color: #fff;
	border-radius: 2px;
	cursor: pointer;
	box-shadow: 0px 3px 3px   #32aecd;
	opacity: 1;
	
}

#map
{
	
	width: 100%;

	margin-top: 5%;
}

